body {
    background-image: url("https://thumbs.dreamstime.com/b/calm-evening-burning-sky-forest-background-colourful-sunset-peaceful-time-camping-nature-space-text-156567269.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
:root {
    --primary-color: #A0522D; /* قهوه‌ای مایل به سرخ */
    --secondary-color: #D2B48C; /* بژ */
    --accent-color: #FFD700; /* طلایی */
}
.navbar {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--accent-color);
}
.nav-link {
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}
.nav-link:hover {
    color: var(--accent-color);
}
.btn-lang {
    background-color: var(--accent-color);
    color: #000;
    font-weight: bold;
}

.footer {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: black;
    text-align: center;
    padding: 20px 0;
}
.footer a {
    color: black;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: 0.3s;
}
.footer a:hover {
    color: var(--accent-color);
}
.container {
    width: 70%;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0px 4px 10px black;
    font-weight: 500;
}
.home-img img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 2px solid #D2B48C;
    box-shadow: 0px 4px 10px black;
    margin: 20px;
}
.home p {
    font-size: 20px;
}
.first-row {
    display: inline;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}
.row-1 .row-2 {
    display: flex;
    justify-content: center;
}
.row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
    width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 4px 10px black;
}
.related-paragraph {
    font-size: 20px;
}
.related-photo img {
    width: 100%;
}
.related-paragraph, .related-photo {
    display: flex;
    flex-wrap: wrap;
}

footer .form-control {
    border-radius: 10px;
    border: 2px solid #007bff;
    transition: all 0.3s ease-in-out;
  }
  footer .form-control:focus {
    border-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  footer .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s;
  }
  footer .btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
.home h2 {
    color: brown;
}
.home img {
    width: 50%;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 0px 4px 10px black;
    border-radius: 5%;
}
.home img:hover {
    color: brown;
    opacity: 0.3;
}
.home {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid lavender;
    box-shadow: 0 4px 10px brown;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.growth-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: larger;
}
.growth-container, .goal {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.goal h1 {
    color: brown;
    text-decoration: underline;
    font-size: 50px;
}
.way-1 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 4px solid black;
    padding: 10px;
}
.way-2 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 4px solid black;
    padding: 10px;
}
.way-3 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 4px solid black;
    padding: 10px;
}
.way-4 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 4px solid black;
    padding: 10px;
}
.way-5 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 4px solid black;
    padding: 10px;
}
.way-6 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 4px solid black;
    padding: 10px;
}
.grow-paragraphs .row-1 {
    display: flex;
    justify-content: space-between;
}
.grow-paragraphs .row-2 {
    display: flex;
    justify-content: space-between;
}
.grow-paragraphs .row-3 {
    display: flex;
    justify-content: space-between;
}
.way-1 {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid brown;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px white;
}
.way-1:hover {
    transform: translateY(-5px);
}
.way-2 {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid brown;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px white;
}
.way-2:hover {
    transform: translateY(-5px);
}
.way-3 {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid brown;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px white;
}
.way-3:hover {
    transform: translateY(-5px);
}
.way-4 {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid brown;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px white;
}
.way-4:hover {
    transform: translateY(-5px);
}
.way-5 {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid brown;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px white;
}
.way-5:hover {
    transform: translateY(-5px);
}
.way-6 {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid brown;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px white;
}
.way-6:hover {
    transform: translateY(-5px);
}
@media screen and (max-width: 768px) {
    .grow-paragraphs, .row-1 {
        flex-wrap: wrap;
    }
    .grow-paragraphs, .row-2 {
        flex-wrap: wrap;
    }
    .grow-paragraphs, .row-3 {
        flex-wrap: wrap;
    }
}
.economy-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.economy-one {
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 0 4px 10px brown;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.economy-two {
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 0 4px 10px brown;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.economy-three {
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 0 4px 10px brown;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.economy-four {
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 0 4px 10px brown;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.one-image img {
    width: 70%;
    height: auto;
    margin: 10px;
    border: 10px solid lavender;
    transition: transform 0.5s ease-in-out;
}
.one-image img:hover {
    transform: translateY(-8px);
}
.two-image img {
    width: 70%;
    height: auto;
    margin: 10px;
    border: 10px solid lavender;
    transition: transform 0.5s ease-in-out;
}
.two-image img:hover {
    transform: translateY(-8px);
}
.three-image img {
    width: 70%;
    height: auto;
    margin: 10px;
    border: 10px solid lavender;
    transition: transform 0.5s ease-in-out;
}
.three-image img:hover {
    transform: translateY(-8px);
}
.four-image img {
    width: 70%;
    height: auto;
    margin: 10px;
    border: 10px solid lavender;
    transition: transform 0.5s ease-in-out;
}
.four-image img:hover {
    transform: translateY(-8px);
}